{% extends "./layouts/main.njk" %}

{% block page_title %}Page title{% endblock %}

{% block content %}
  <a href="about.html">about</a>
  {% include './components/component/component.njk' %}
{% endblock %}